@model Contact
@inject FianlProject.Services.LayoutService layoutService
@{
    ViewData["Title"] = "Index";
}

  <!-- Main Start -->
    <section>
        <div class="about">
            <div class="container">
                <div class="row g-4">
                    <div class="col-sm-12 g-4">
                        <div class="about-title">
                            <span>
                                <a asp-controller="Home" asp-action="Index">Home </a>
                            </span>
                            >
                        <span class="active"> Contact</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="touch">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="t-title">
                        <h3 class="heading-title">Get in touch</h3>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="form-title">
                        <form asp-controller="Contact" method="post" class="form-content">
                            <div class="row input-wrapper">
                                <div class="col-lg-6">
                                    <label class="input-label" for="mf-input-text-1d0f4ab4">Name
                                    </label>
                                <input asp-for="Name" required type="text" class="inp-input" id="mf-input-text-1d0f4ab4">
                                </div>
                                <div class="col-lg-6">
                                    <label class="input-label" for="mf-input-text-1d0f4ab4">Email
                                    </label>
                                <input asp-for="Email" required type="text" class="inp-input" id="mf-input-text-1d0f4ab4">
                                </div>
                                <div class="col-12">
                                    <label class="input-label" for="mf-input-text-1d0f4ab4">Subject
                                    </label>
                                    <input asp-for="Subject" type="text" class="inp-input" id="mf-input-text-1d0f4ab4">
                                </div>
                                <div class="col-12">
                                    <label class="input-label" for="mf-input-text-1d0f4ab4">Description
                                    </label>
                                    <input asp-for="Description" type="text" class="subject-input" id="mf-input-text-1d0f4ab4">
                                </div>
                        </div>
                        <div class="elementor-widget">
                            <div class="btn-wraper" data-mf-form-conditional-logic-requirement="">
                                <button type="submit" class="metform-btn metform-submit-btn xs-contact-us-metform-btn">
                                    Send
                                    Message
                                </button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="responsive-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.
                                    7806761080233!2d-93.29138368446431!3d44.96844997909819!2m3!1f0!2f0!3f0!3m2!
                                    1i1024!2i768!4f13.1!3m3!1m2!1s0x52b32b6ee2c87c91%3A0xc20dff2748d2bd92!2sWalker+Art+Center!
                                    5e0!3m2!1sen!2sus!4v1514524647889" width="600" height="450" frameborder="0"
                style="border:0" allowfullscreen>
                <div>
                    <div style="position: absolute; left: 0px; top: 0px;">
                        <div
                            style="background-color: white; margin: 10px; padding: 1px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px;">
                            <div jstcache="0" style="">
                                <div jstcache="51" class="place-card place-card-large">
                                    <div class="place-desc-large">
                                        <div jstcache="24" class="place-name" jsan="7.place-name">lastminute.com London
                                            Eye</div>
                                        <div jstcache="25" class="address" jsan="7.address">Riverside Building, County
                                            Hall, London SE1 7PB, United Kingdom</div>
                                    </div>
                                    <div jstcache="26" class="navigate">
                                        <div jsaction="placeCard.directions" class="navigate"> <a
                                                aria-label="Get directions to this location on Google Maps."
                                                target="_blank" jstcache="38"
                                                href="https://maps.google.com/maps/dir//lastminute.com+London+Eye+Riverside+Building,+County+Hall+London+SE1+7PB+United+Kingdom/51.5032973,-0.1195537,10z/data=!4m5!4m4!1m0!1m2!1m1!1s0x487604b900d26973:0x4291f3172409ea92"
                                                class="navigate-link">
                                                <div class="icon navigate-icon"></div>
                                                <div jstcache="39" class="navigate-text">Directions</div>
                                            </a> </div>
                                        <div class="tooltip-anchor">
                                            <div class="tooltip-tip-outer"></div>
                                            <div class="tooltip-tip-inner"></div>
                                            <div class="tooltip-content">
                                                <div jstcache="40">Get directions to this location on Google Maps.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-box">
                                        <div aria-hidden="true" jstcache="27" class="review-number"
                                            jsan="7.review-number,0.aria-hidden">4.5</div>
                                        <div aria-label="Rated 4.5 out of 5" role="img" jstcache="28"
                                            class="rating-stars">
                                            <div jstcache="29" jsinstance="0" class="icon rating-star rating-full-star"
                                                jsan="7.icon,7.rating-star,7.rating-full-star"></div>
                                            <div jstcache="29" jsinstance="1" class="icon rating-star rating-full-star"
                                                jsan="7.icon,7.rating-star,7.rating-full-star"></div>
                                            <div jstcache="29" jsinstance="2" class="icon rating-star rating-full-star"
                                                jsan="7.icon,7.rating-star,7.rating-full-star"></div>
                                            <div jstcache="29" jsinstance="3" class="icon rating-star rating-full-star"
                                                jsan="7.icon,7.rating-star,7.rating-full-star"></div>
                                            <div jstcache="29" jsinstance="*4" class="icon rating-star rating-half-star"
                                                jsan="7.icon,7.rating-star,7.rating-half-star"></div>
                                        </div> <a aria-label="142,623 reviews" target="_blank" jstcache="30"
                                            href="https://search.google.com/local/reviews?placeid=ChIJc2nSALkEdkgRkuoJJBfzkUI&amp;q=London+Eye,+London,+United+Kingdom&amp;hl=en&amp;gl=AZ"
                                            jsaction="mouseup:placeCard.reviews" class="review-box-link"
                                            jsan="0.aria-label,7.review-box-link,8.href,0.target,22.jsaction">142,623
                                            reviews</a>
                                    </div>
                                    <div class="bottom-actions">
                                        <div class="google-maps-link"> <a aria-label="View larger map" target="_blank"
                                                jstcache="31"
                                                href="https://maps.google.com/maps?ll=51.503297,-0.119554&amp;z=10&amp;t=m&amp;hl=en&amp;gl=US&amp;mapclient=embed&amp;cid=4796882358840715922"
                                                jsaction="mouseup:placeCard.largerMap">View larger map</a> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </iframe>
        </div>
    </section>
    <!-- Main End -->
