* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Roboto;
  font-family: Arial, Helvetica, sans-serif;
}

.cartt {
  margin-top: 30px;
}
.cartt .cart-form {
  margin-top: 25px;
  margin-bottom: 25px;
}
.cartt .cart-form .shop_cart {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
}
.cartt .cart-form .shop_cart th {
  font-weight: 700;
  line-height: 1.5em;
  padding: 20px !important;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  vertical-align: middle;
}
.cartt .cart-form .shop_cart .product-thumbnail {
  min-width: 32px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 20px !important;
  text-align: center;
  border-top: 1px solid #e7e7e7;
  vertical-align: middle;
}
.cartt .cart-form .shop_cart .product-thumbnail img {
  display: inline-block;
}
@media screen and (max-width: 950px) {
  .cartt .cart-form .shop_cart .product-thumbnail img {
    display: none;
  }
}
.cartt .cart-form .shop_cart .cart-items td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  line-height: 1.5em;
  padding: 20px !important;
}
.cartt .cart-form .shop_cart .cart-items td .remove {
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: red !important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
}
.cartt .cart-form .shop_cart .cart-items td .remove:hover {
  color: #fff !important;
  background: red;
}
.cartt .cart-form .shop_cart .cart-items td a {
  color: #0056b3;
  text-decoration: none;
  font-weight: 600;
}
.cartt .cart-form .shop_cart .cart-items td a:hover {
  opacity: 0.6;
  transition: 0.5s linear;
}
.cartt .cart-form .shop_cart .cart-items td .Price-amount {
  color: #F07F13;
  font-weight: 600;
  opacity: 0.8;
}
.cartt .cart-form .shop_cart .cart-items .product-thumbnail {
  min-width: 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  line-height: 1.5em;
  padding: 20px !important;
}
.cartt .cart-form .shop_cart .cart-items .product-thumbnail a {
  box-shadow: none;
  text-decoration: none;
}
.cartt .cart-form .shop_cart .cart-items .product-thumbnail a img {
  width: 100px;
  height: auto;
}
.cartt .cart-form .shop_cart .cart-items .product-quantity {
  vertical-align: middle;
}
.cartt .cart-form .shop_cart .cart-items .product-quantity .qty-input {
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top;
}
.cartt .cart-form .shop_cart .cart-items .product-quantity .qty-input .qty-count {
  margin: 0;
  vertical-align: middle;
  background: #f9f9f9;
  cursor: pointer;
  box-shadow: none;
  padding: 0 5px;
  min-width: 43px;
  height: 45px;
  border: 1px solid rgba(129, 129, 129, 0.2);
  display: inline-block;
  color: #777;
}
.cartt .cart-form .shop_cart .cart-items .product-quantity .qty-input .reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  border: 0;
  margin: -1px;
  padding: 0;
}
.cartt .cart-form .shop_cart .cart-items .product-quantity .qty-input .product-qty {
  border: 1px solid #e3e3e3 !important;
  width: 65px;
  height: 45px;
  display: inline-block;
  color: #777;
  border-radius: 0;
  text-align: center;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  font-size: 1em !important;
  overflow: visible;
}
.cartt .cart-form .shop_cart .cart-items .product-quantity .qty-input .qty-count--add {
  margin: 0;
  vertical-align: middle;
  background: #f9f9f9;
  cursor: pointer;
  box-shadow: none;
  padding: 0 5px;
  min-width: 43px;
  height: 45px;
  border: 1px solid rgba(129, 129, 129, 0.2);
  display: inline-block;
  color: #777;
}
@media screen and (max-width: 950px) {
  .cartt .cart-form .shop_cart th {
    display: block;
  }
  .cartt .cart-form .shop_cart td {
    display: block;
  }
}
.cartt .cart-form .shop_cart .actions {
  text-align: right;
  vertical-align: middle;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.5em;
  border-left: none;
}
.cartt .cart-form .shop_cart .actions .coupon {
  float: left;
}
.cartt .cart-form .shop_cart .actions .coupon label {
  display: none;
}
.cartt .cart-form .shop_cart .actions .coupon .input-text {
  padding: 13px 6px;
  max-width: 170px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #d3ced2;
  margin: 0 4px 0 0;
  outline: 0;
}
.cartt .cart-form .shop_cart .actions .coupon .button {
  float: none;
  background-color: #f07f13;
  color: #fff;
  padding: 16px 32px !important;
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  border: 0;
  display: inline-block;
  box-shadow: none;
  text-shadow: none;
  opacity: 1 !important;
}
.cartt .cart-form .shop_cart .actions .coupon .button:hover {
  color: #fff;
  background-color: #83b735;
  transition: 0.2s linear;
}
.cartt .cart-form .shop_cart .actions .button {
  float: none;
  background-color: #f07f13;
  color: #fff;
  padding: 16px 32px !important;
  font-size: 100%;
  margin: 0;
  line-height: 1;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: visible;
  font-weight: 700;
  border-radius: 3px;
  left: auto;
  border: 0;
  display: inline-block;
  box-shadow: none;
  text-shadow: none;
  cursor: not-allowed;
  opacity: 0.7;
}
.cartt .cart-form .shop_cart .actions .button:hover {
  color: inherit;
  background-color: #ebe9eb;
}
.cartt .cart-collaterals {
  width: 100%;
}
.cartt .cart-collaterals .cart_totals {
  float: right;
  width: 48%;
}
.cartt .cart-collaterals .cart_totals h2 {
  font-weight: 500;
  font-style: 34px;
}
.cartt .cart-collaterals .cart_totals .shop_table {
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 -1px 24px 0;
  text-align: left;
  width: 100%;
  border-radius: 5px;
}
.cartt .cart-collaterals .cart_totals .shop_table .cart-subtotal th {
  border-top: 0;
  width: 35%;
  font-weight: 700;
}
.cartt .cart-collaterals .cart_totals .shop_table .cart-subtotal .subtotal {
  border-top: 0;
  text-align: center;
}
.cartt .cart-collaterals .cart_totals .shop_table .cart-subtotal .subtotal span {
  color: #F07F13;
  padding-left: 5px;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total th {
  border-top: 1px solid #ebe9eb;
  padding-top: 20px;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship {
  border-top: 1px solid #ebe9eb;
  padding: 20px !important;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship .ship-method li {
  margin: 0 0 0.5em;
  line-height: 1.5em;
  list-style: none outside;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship .ship-method li input {
  margin: 3px 0.4375em 0 0;
  vertical-align: top;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship .ship-method li label {
  display: inline;
  font-size: 15px;
  padding-right: 40px;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship .ship-method p {
  font-size: 14px !important;
  margin-bottom: 0;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship .ship-method .shipping-calculator {
  text-decoration: none !important;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship .ship-method .shipping-calculator .csta {
  margin-top: 0.5em;
  display: none;
  text-decoration: none !important;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship .ship-method .shipping-calculator .calculator-form {
  margin: 1em 0 0 0;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship .ship-method .shipping-calculator .calculator-form .form-row {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 3px;
  margin: 0 0 6px;
  clear: both;
}
.cartt .cart-collaterals .cart_totals .shop_table .shipping-total .ship .ship-method .shipping-calculator .calculator-form .form-row .buttonA {
  background-color: #f07f13 !important;
  text-decoration: none;
}
.cartt .cart-collaterals .cart_totals .shop_table .order-total th {
  border-top: 1px solid #ebe9eb;
}
.cartt .cart-collaterals .cart_totals .shop_table .order-total td span {
  color: #F07F13;
  padding-left: 5px;
}
.cartt .cart-collaterals .cart_totals .proceedd {
  padding: 1em 0;
}
.cartt .cart-collaterals .cart_totals .proceedd a {
  background-color: #f07f13;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  padding: 16px 194px !important;
}
.cartt .cart-collaterals .cart_totals .proceedd a:hover {
  color: #fff;
  background-color: #83b735;
  transition: 0.3s linear;
}
@media screen and (max-width: 950px) {
  .cartt .cart-collaterals .cart_totals .proceedd a {
    background-color: #f07f13;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 40px !important;
  }
}
@media screen and (max-width: 950px) {
  .cartt .cart-collaterals .cart_totals {
    width: 100%;
  }
}/*# sourceMappingURL=cart.css.map */