@model AccountVM
@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>resetpassword</title>
</head>
<body>

    <main class="w-100 m-auto login" style="margin-top: 30px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card shadow-sm">
                        <div class="card-body" style="margin-top: 60px;">
                            <div style="margin-top: 60px;" class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                            <div style="text-align:center;" class="justify-content-center">
                                <img style="width:20rem;height:7rem; object-fit:cover; margin-top: 10px; z-index:-1" src="~/admin/images/auth/login-bg.jpg">
                                <form class="col-lg-4" method="post" style="display:flex;flex-direction:column;justify-content:center;margin:auto;">
                                   @* <h1 style="font-size: 16px; margin-top: 10px; font-weight: 700; border-bottom: 1px solid #f07f13;">Change Password</h1>*@
                                    <hr />
                                    <div>
                                        <label style="font-size: 14px;">Write new password:</label><br />
                                        <input asp-for="Password" class="form-control" style="width: 200px;"/>
                                        <span class="text-warning text" asp-validation-for="Password"></span>

                                    </div>
                                    <div style="display:none;">
                                        <input asp-for="Token" class="form-control"  />
                                        <input asp-for="AppUser.Email" class="form-control" />
                                    </div>
                                    <div>
                                        <label style="text-align: start; font-size: 13px;">Confirm new password:</label><br />
                                        <input asp-for="ConfirmPassword" class="form-control" style="width: 200px; margin-top: 1px;" />
                                        <span class="text-warning text" asp-validation-for="ConfirmPassword"></span>

                                    </div>
                                    <button style="width: 200px; color: #fff; background-color:#198754;" type="submit" class="btn btn-outline-primary mt-3">Change password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>

