@model Furniture
@{
    ViewData["Title"] = "Index";
}

 <!-- Main start -->
    <section>
        <div class="about">
            <div class="container">
                <div class="row g-4">
                    <div class="col-sm-12 g-4">
                        <div class="about-title">
                            <span>
                                <a href="index.html">Home </a>
                            </span>
                            >
                            <span> Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="filter-title">
                        <h3>Filter:</h3>
                        <form method="get" action="">
                            <div class="price_slider_wrapper">
                                <div class="range-slider">
                                    <span class="rangeValues"
                                        style="display: inline-block; color: #999; padding-top: 20px; padding-left: 50px; font-size: 15px"></span>
                                    <input value="100" min="100" max="1000" step="50" type="range">
                                    <input value="1000" min="100" max="1000" step="50" type="range">
                                </div>
                                <div class="price_slider_amount" data-step="10">
                                    <button type="submit" class="button">Filter</button>
                                    <div class="price_label" style="">
                                        Price:
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="rated_products-2" class="widget woocommerce rated_products">
                        <h3 class="rated-title widget-title">Products By Rating</h3>
                        <ul class="product_list">
                            <li>
                                <a href="#">
                                    <img width="200" height="200" src="~/assets/image/shop/mini-chair_1.jpg"
                                        sizes="(max-width: 300px) 100vw, 300px" class=" lazyloaded" alt=""
                                        data-ll-status="loaded">
                                    <span class="product-title">Mic for Phone</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span style="width:100%">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="amount">
                                    $70.00
                                </span>
                            </li>
                            <li>
                                <a href="">
                                <img width="200" height="200" src="~/assets/image/shop/Desk.jpg"
                                        sizes="(max-width: 300px) 100vw, 300px" class=" lazyloaded" alt=""
                                        data-ll-status="loaded">
                                    <span class="product-title">Xpeed Headset</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span style="width:100%">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="amount">
                                    <del>$100</del>
                                    $70.00
                                </span>
                            </li>
                            <li>
                                <a href="">
                                    <img width="300" height="300" src="~/assets/image/shop/mini-chair_1.jpg"
                                        sizes="(max-width: 300px) 100vw, 300px" class=" lazyloaded" alt=""
                                        data-ll-status="loaded">
                                    <span class="product-title">Mic for Phone</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                    <span style="width:100%">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </span>
                                </div>
                                <span class="amount">
                                    $70.00
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="product-category">
                        <h3 class="category-title">Product categories</h3>
                        <ul class="category-list">
                            <li class="list-item">
                                <a href="#">
                                    Chair
                                    <span class="count">(3)</span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="#">
                                    Featured Product
                                    <span class="count">(1)</span>
                                </a>
                            </li>
                            <li class="list-item">
                                <a href="#">
                                    Bluetooth
                                    <span class="count">(5)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="block-2" class="widget widget_block media_image">
                        <figure class="block-image size-full">
                            <img width="255" height="475"
                                src="https://demo.xpeedstudio.com/marketov2/furniture/wp-content/uploads/sites/11/2022/01/shop_offer_banner1.png"
                                alt="" class="wp-image-2899 lazyloaded" data-ll-status="loaded">
                        </figure>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="products-header">
                        <h5 class="products-header_title page-title">Shop</h5>
                        <div class="media filter-content">
                            <div class="media-body before-shop-loop">
                                <form class="form-order" method="get">
                                    <p class="sorting">Sort by</p>
                                    <select name="orderby" class="orderby" aria-label="Shop order">
                                        <option value="menu_order" selected="selected">Sorting</option>
                                        <option value="popularity"> Popularity</option>
                                        <option value="rating"> Average rating</option>
                                        <option value="date"> Newness</option>
                                        <option value="price">Price: low to high</option>
                                        <option value="price-desc">Price: high to low</option>
                                    </select>
                                    <input type="hidden" name="paged" value="1">
                                </form>
                            </div>
                            <div class="media">
                                <h6>View</h6>
                                <ul class="nav nav-tabs view-nav" id="myTab" role="tablist">
                                    <li class="nav-item" id="tab1">
                                        <a id="1" class="nav-link btn_link active_link">
                                            <i class="fa-solid fa-table-cells"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item" id="tab1">
                                        <a id="2" class="nav-link btn_link">
                                            <i class="fa-solid fa-bars"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="1" style="display: block;" class="shop_content">
                        <div class="row is-grid-active">
                            <div class="col-lg-3 col-12 col-md-4 col-sm-6">
                                <div class="product-m">
                                    <div class="thumb">
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                            href="product-detail.    html">
                                            <img width="222" height="300" class="aspect__img"
                                             src="~/assets/image/shop/BeenBag.jpg" alt="">
                                        </a>
                                        <div class="add-cart d-flex">
                                            <a style="padding: 20px 25px;" href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-solid fa-basket-shopping"></i>
                                            </a>
                                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"
                                                class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-regular fa-eye"></i>
                                            </button>
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-regular fa-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="name">
                                            <a href="product-detail.html">Nice Elegant</a>
                                        </div>
                                        <div class="price">$125.00</div>
                                        <div class="hover">
                                            <div class="preview-description">
                                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="product-m">
                                    <div class="thumb">
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                            href="product-detail.    html">
                                            <img width="190" height="300" class="aspect__img"
                                             src="~/assets/image/shop/be64156c-e3a4-45a5-be41-7eef6fd2fdedcb6dbee1-f597-4c91-822d-3cf998585ee4bed_4.jpg" alt="">
                                        </a>
                                        <div class="add-cart d-flex">
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-solid fa-basket-shopping"></i>
                                            </a>
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-regular fa-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="name">
                                            <a href="product-detail.html">Nice Elegant</a>
                                        </div>
                                        <div class="price">$125.00</div>
                                        <div class="hover">
                                            <div class="preview-description">
                                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="product-m">
                                    <div class="thumb">
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                            href="product-detail.    html">
                                            <img width="190" height="300" class="aspect__img"
                                             src="~/assets/image/shop/BeenBag.jpg" alt="">
                                        </a>
                                        <div class="add-cart d-flex">
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-solid fa-basket-shopping"></i>
                                            </a>
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-regular fa-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="name">
                                            <a href="product-detail.html">Nice Elegant</a>
                                        </div>
                                        <div class="price">$125.00</div>
                                        <div class="hover">
                                            <div class="preview-description">
                                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="product-m">
                                    <div class="thumb border-5">
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                            href="product-detail.    html">
                                            <img width="190" height="300" class="aspect__img"
                                             src="~/assets/image/shop/BeenBag.jpg" alt="">
                                        </a>
                                        <div class="add-cart d-flex">
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-solid fa-basket-shopping"></i>
                                            </a>
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-regular fa-eye"></i>
                                            </a>
                                            <a href="#" class="btn--e-brand d-flex" data-modal="modal"
                                                data-modal-id="#add-to-cart">
                                                <i class="fa-regular fa-heart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="name">
                                            <a href="product-detail.html">Nice Elegant</a>
                                        </div>
                                        <div class="price">$125.00</div>
                                        <div class="hover">
                                            <div class="preview-description">
                                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley of type
                                                    and scrambled it to make a type specimen book.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3">
                                    <div class="card shop-card">
                                        <a href="#">
                                            <span class="onsale">Sale!</span>
                                        </a>
                                        <img src="~/assets/image/shop/kreslo_3.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="product-title">
                                                <a href="product/3d-glass/">Divan</a>
                                            </h4>
                                            <span class="card-text amount"><del>$650.00</del> $540.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card shop-card">
                                        <img src="~/assets/image/shop/pufig_2.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="product-title">
                                                <a href="product/3d-glass/">Pufig</a>
                                            </h4>
                                            <span class="card-text amount">$540.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card shop-card">
                                        <img src="~/assets/image/shop/kreslo_3.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="product-title">
                                                <a href="product/3d-glass/">Kreslo</a>
                                            </h4>
                                            <span class="card-text amount"><del>$650.00</del> $540.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card shop-card">
                                        <img src="~/assets/image/shop/bed_4.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="product-title">
                                                <a href="product/3d-glass/">Yataq</a>
                                            </h4>
                                            <span class="card-text amount"><del>$650.00</del> $540.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card shop-card">
                                        <img src="~/assets/image/shop/mini-chair_1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="product-title">
                                                <a href="product/3d-glass/">Divan</a>
                                            </h4>
                                            <span class="card-text amount"><del>$650.00</del> $540.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card shop-card">
                                        <img src="~/assets/image/shop/pufig_2.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="product-title">
                                                <a href="product/3d-glass/">Pufig</a>
                                            </h4>
                                            <span class="card-text amount"><del>$650.00</del> $540.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card shop-card">
                                        <img src="~/assets/image/shop/kreslo_3.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="product-title">
                                                <a href="product/3d-glass/">Kreslo</a>
                                            </h4>
                                            <span class="card-text amount"><del>$650.00</del> $540.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card shop-card">
                                        <a href="#">
                                            <span class="onsale">Sale!</span>
                                        </a>
                                        <img src="~/assets/image/shop/bed_4.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h4 class="product-title">
                                                <a href="product/3d-glass/">Yataq</a>
                                            </h4>
                                            <span class="card-text amount"><del>$650.00</del> $540.00</span>
                                        </div>
                                    </div>
                                </div> -->
                            <nav class="pagination">
                                <ul class="page-numbers">
                                    <li>
                                        <span aria-current="page" class="page-numbers current">1</span>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/2/">2</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/3/">3</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/4/">4</a>
                                    </li>
                                    <li>
                                        <span class="page-numbers dots ">…</span>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/2/">2</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/3/">3</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/4/">4</a>
                                    </li>
                                    <li>
                                        <a class="next page-numbers" href="shop/page/2/">→</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div id="2" class="shop_content">
                        <div class="row is-grid-active">
                            <div class="col-lg-6">
                                <div class="product-m d-flex text-start p-3" style="border: 1px solid #e3e3e3;">
                                    <div class="thumb d-flex">
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                            href="product-detail.    html">
                                            <img width="125" height="125" class="aspect__img"
                                             src="~/assets/image/shop/BeenBag.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content text-center py-0">
                                        <span class="rate" style="color: #f07f13; letter-spacing: -3px;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                        </span>
                                        <div class="name">
                                            <a href="product-detail.html">Nice Elegant</a>
                                        </div>
                                        <div class="price">$125.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="product-m d-flex text-start p-3" style="border: 1px solid #e3e3e3;">
                                    <div class="thumb d-flex">
                                        <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                            href="product-detail.    html">
                                            <img width="125" height="125" class="aspect__img"
                                                src="~/assets/image/shop/BeenBag.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="content text-center py-0">
                                        <span class="rate py-3" style="color: #f07f13; letter-spacing: -3px;">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                            <i class="fa-solid fa-star-half-stroke"></i>
                                        </span>
                                        <div class="name">
                                            <a href="product-detail.html">Nice Elegant</a>
                                        </div>
                                        <div class="price">$125.00</div>
                                    </div>
                                </div>
                            </div>
                            <nav class="pagination">
                                <ul class="page-numbers">
                                    <li>
                                        <span aria-current="page" class="page-numbers current">1</span>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/2/">2</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/3/">3</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/4/">4</a>
                                    </li>
                                    <li>
                                        <span class="page-numbers dots ">…</span>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/2/">2</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/3/">3</a>
                                    </li>
                                    <li>
                                        <a class="page-numbers" href="shop/page/4/">4</a>
                                    </li>
                                    <li>
                                        <a class="next page-numbers" href="shop/page/2/">→</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main end -->

