@model LoginVM
@{
    ViewData["Title"] = "Login";
}

<!-- Main start -->
<main class="w-100 m-auto login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1 class="main-heading">Login Page</h1>
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <form method="post" >
                            <div class="row mb-3">
                                <label for="text" class="col-md-4 col-form-label text-md-end">UserName</label>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" asp-for="UserName">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="password" class="col-md-4 col-form-label text-md-end">Password</label>
                                <div class="col-md-6">
                                    <input type="password" class="form-control" value="password" asp-for="Password">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4 offset-md-4 gap-5">
                                    <div class="form-check">
                                        <input asp-for="Remember" class="form-check-input" type="checkbox">
                                        <label class="form-check-label" for="remember">
                                            Remember
                                        </label>
                                    </div>
                                    
                                </div>
                                <p class="lost_password" style="position: relative;">
                                    <a style="color: #007bff; text-decoration: none; outline: 0; line-height: 4; font-weight: 600;
                opacity: 0.8; position: absolute; top: 130px;" asp-controller="Account" asp-action="ForgotPassword">Lost your password?</a>
                                </p>
                            </div>

                            <div class="row mb-0 mt-4">
                                <div class="col-md-8 offset-md-3">
                                    <button type="submit" class="btn btn-success w-75 m-5">
                                        Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main end -->
