@model RegisterVM
@{
    ViewData["Title"] = "Register";
}

 <!-- Main start -->
<main class="w-100 m-auto register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h1 class="main-heading">Register Page</h1>
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <form method="post">
                            <div class="row mb-3">
                                <label for="text" class="col-md-4 col-form-label text-md-end">FirstName</label>
                                <div class="col-md-6">
                                    <input asp-for="FirstName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="text" class="col-md-4 col-form-label text-md-end">LastName</label>
                                <div class="col-md-6">
                                    <input asp-for="LastName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="text" class="col-md-4 col-form-label text-md-end">UserName</label>
                                <div class="col-md-6">
                                    <input asp-for="UserName" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="email" class="col-md-4 col-form-label text-md-end">Email Address</label>
                                <div class="col-md-6">
                                    <input asp-for="Email" id="email" type="email" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="password" class="col-md-4 col-form-label text-md-end">Password</label>
                                <div class="col-md-6">
                                    <input asp-for="Password" type="password" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="confirm_password" class="col-md-4 col-form-label text-md-end">
                                    Confirm
                                    Password
                                </label>
                                <div class="col-md-6">
                                    <input asp-for="ConfirmPassword" type="password" class="form-control">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-4 offset-md-4">
                                    <div class="form-check">
                                        <input asp-for="Terms" class="form-check-input" type="checkbox">
                                        <label class="form-check-label" for="remember">
                                            Terms
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-0 mt-0">
                                <div class="col-md-8 offset-md-3" style="margin-top: -20px;">
                                    <button type="submit" class="btn btn-success w-75 m-5">
                                        Register
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main end -->

